<footer class="bg-success bg-opacity-25">
  <div class="container-fluid">
    <div class="row py-5">

      <div class="col-sm-12 col-md-4 text-center mt-2">
        <img src="../../assets/logo.png" class="logo" alt="logo" />
      </div>

      <div class="col-sm-12 col-md-4 text-center mt-2">
        <h3 class="mb-4">Nuestras sucursales</h3>
        <p>
          <i class="bi bi-geo-alt logo-color"></i>
          Centro - Uruguay 1233
        </p>
        <p>
          <i class="bi bi-geo-alt logo-color"></i>
          Belgrano - Juramento 1550
        </p>
        <p>
          <i class="bi bi-geo-alt logo-color"></i>
          Villa Urquiza - Av.Triunvirato 1223
        </p>
      </div>

      <div class="col-sm-12 col-md-4 text-center mt-2">
        <div>
          <h3 class="mb-4">Redes</h3>
          <div class="redes">
            <a
              href="https://www.facebook.com/diego.lopez.33449"
              target="_blank"
            ><i class="bi bi-facebook logo-color"></i></a>
            <a href="https://www.instagram.com/dieguitarra/" target="_blank"><i
                class="bi bi-instagram logo-color"
              ></i></a>
            <a href="https://twitter.com/musiqueeee" target="_blank"><i
                class="bi bi-twitter logo-color"
              ></i></a>
            <a
              href="https://www.gmail.com/mail/help/intl/es/about.html?iframe"
              target="_blank"
            ><i class="bi bi-envelope-fill logo-color"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>