<nav class="navbar navbar-expand-sm bg-success bg-opacity-25">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-5">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item mx-5">

          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        {{#if user}}
          <li class="nav-item mx-5">
            <a class="nav-link">
              <i class="bi bi-person-fill mx-2"></i>{{user.name}}
              {{user.lastName}}{{user}}</a>
          </li>
          <li class="nav-item mx-5">

            <a class="nav-link" href="/logout">Logout</a>
          </li>

          <li class="nav-item mx-5">
            <a class="nav-link" href="/secret">Secret</a>
          </li>
          <li class="nav-item dropdown mx-5">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Config
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="mx-5"><a class="dropdown-item" href="/settings">Account
                  Settings</a></li>
              <li><a class="dropdown-item" href="/validate">Validate Email</a></li>
            </ul>
          </li>
        {{else}}
          <li class="nav-item mx-5">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="/register">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>