<h1 class="text-center mt-5 pt-5 pb-5">No tenés autorización! </h1>
<h2 class="text-center mt-3 pb-5 mb-5">Debes logearte para poder comprar</h2>
<div class="container">
  <div class="row">
    <div
      class="bg-warning bg-opacity-25 border border-success border-opacity-50 rounded py-4 mb-5 mt-3 col-md-4 offset-md-4"
    >

      <h4 class="text-center pt-2 pb-3">Hacé click acá</h4>
      <hr />
      <div class="text-center pb-2 pt-2">
        <a class="btn btn-success btn-lg mt-2" href="/login">Logearse</a>
      </div>
    </div>

  </div>
</div>