<div class="container">
  <div class="row"> 

  <h1 class="text-center my-5">Sección de compras</h1>
  <h3 class="text-center my-4">Sección privada con autorización</h3>
   </div>

</div>
<div class="container ">
  <div class="row justify-content-center mt-3 ">
<div class="text-center ps-5 border border-success border-opacity-50 rounded col-md-3 py-4 alert alert-warning alert-dismissible fade show" role="alert">
  <strong><i class="bi bi-person-circle titulos-en-verde"></i>  {{user}}</strong> 
  <hr> 
  <div>

          <a href="/logout"><input 
            class="btn btn-danger"
            type="button"
            value="Deslogearse"
          /></a>
  </div>
  <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

  </div>
</div>






  </div>

<div class="container-fluid mt-5 items">
  <div class="row ">

<article class="col-sm-12 col-xl-6 col-xxl-3 text-center mt-3 py-2 img-fluid">
  <img src="../../assets/hanako-kun.jpg" alt=""/>
      <button class="btn btn-success m-4">Comprar</button>
</article>

<article class="col-sm-12 col-xl-6 col-xxl-3 text-center my-3 py-2 img-fluid">
  <img src="../../assets/evangelion.jpg" alt=""/>
      <button class="btn btn-success m-4">Comprar</button>
</article>

<article class="col-sm-12 col-xl-6 col-xxl-3 text-center my-3 py-2 img-fluid">
  <img src="../../assets/demon slayer.jpg" alt=""/>
      <button class="btn btn-success m-4">Comprar</button>
</article>
<article class="col-sm-12 col-xl-6 col-xxl-3 text-center my-3 py-2 img-fluid">
  <img src="../../assets/tokyo-ghoul.jpg" alt=""/>
        <button class="btn btn-success m-4 pb-2">Comprar</button>
  </article>

    </div>

  </div>

</div>