body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.hero {
  background: rgb(197, 255, 81);
}
.titulos-en-verde {
  color: rgb(56, 187, 56);
}
.itemsTitulo {
  background: #f9ffaa;
}
.items {
  background: rgb(253, 253, 154);
  background: linear-gradient(#f9ffaa, rgba(31, 151, 105, 0.274));
  padding-top: 4em;
  padding-bottom: 2em;
}

a:hover {
  color: red;
}

/* .marca {
  justify-content: flex-start;
  color: white;
  grid-area: nav;
  text-decoration: none;
  list-style: none;
} */

.redes {
  display: flex;
  justify-content: space-around;
}

.cuadros {
  border: 3px solid rgb(56, 187, 56);
  border-radius: 25px;
}

.bi-stopwatch {
  margin-right: 0.5em;
}
.bi-lock-fill {
  margin-right: 0.5em;
}
.bi-truck {
  margin-right: 0.5em;
}
.bi-globe {
  margin-right: 0.5em;
}
.logo-color {
  color: rgb(56, 187, 56);
}
.titulo-recomendados {
  color: rgb(56, 187, 56);
  font-size: 2rem;
}

.logo {
  width: 30%;
}
